.badge {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: tomato;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  font-weight: 600;
}

.badge-id {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 15px;

  font-size: 18px;
  font-weight: 600;
}

.badge-new {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: tomato;
  font-size: 10px;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: 600;
}
